@import "tailwindcss";
.bg-grid-pattern {
    background-image:
      linear-gradient(90deg, rgba(0,0,0,0.02) 1px, transparent 1px),
      linear-gradient(180deg, rgba(0,0,0,0.02) 1px, transparent 1px);
    background-size: 80px 80px, 80px 80px;
    background-position: 0 0, 0 0;
  }
@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .animate-marquee {
    animation: marquee 25s linear infinite;
  }
}